{% extends "base.html" %}

{% block content %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
                <form>
                <div class="form-row">
                    <div class="col-2">
                <h5 class="mb-4 pb-2 pb-md-0 mb-md-5">Nova venda                      </h5>
                    </div>
                        <div class="col-4">
                        <label class="form-label" for="Cliente">Cliente</label>
                        <select class="select form-control-lg" id='Cliente' style="font-size: 1rem">
                         {% for i, row in df.iterrows() %}
                            <option value={{row['name']}}>{{row['name']}}</option>
                         {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="Vendedor">Vendedor</label>
                        <select class="select form-control-lg" name="Vendedor" id='Vendedor' style="font-size: 1rem">
                         {% for i, row in df.iterrows() %}
                            <option value={{row['name']}}>{{row['name']}}</option>
                         {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">

                </div>
                <div class="form-row">
                    <div class="col-3">
                        <label class="form-label" for="name">Produtos</label>
                        <br>
                        <select class="select form-control-lg" id='Produto' style="font-size: 1rem">
                         {% for i, row in df.iterrows() %}
                            <option value={{row['name']}}>{{row['name']}}</option>
                         {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="name">Quantidade</label>
                        <input type="text" id="name" class="form-control form-control-lg" />
                    </div>
                    <div class="col-9">
                        <button onclick="addProduto()"></button>
                    </div>
                </div>
                    <br><br>
                <div class="form-row">
                    <div class="col-5">
                        <textarea rows="5"></textarea>
                    </div>
                    <div class="col-7" style="vertical-align: middle">
                    <input style="vertical-align: middle" class="btn btn-primary btn-lg" type="submit" value="Salvar" />
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'codigo'},
          {data: 'nome'},
          {data: 'preco'},
        ],
      });
    });
  </script>
{% endblock %}
