{% extends "base.html" %}

{% block content %}


  <table id="produtos" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#produtos').DataTable({
        ajax: '/api/produto',
        columns: [
          {data: 'name'},
          {data: 'preco'},
          {data: 'categoria'},
        ],
      });
    });
  </script>
{% endblock %}
