{% extends "base.html" %}

{% block content %}

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Valor</th>
        <th>Produtos</th>
        <th>Data</th>
        <th>Vendedor</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'cliente'},
          {data: 'valor'},
          {data: 'produtos', orderable: false},
          {data: 'data'},
          {data: 'vendedor'}
        ],
      });
    });
  </script>
{% endblock %}
